<html>
    <head>
        <title>
            Registration Form
        </title>
    </head>
    <body>
        {% if alert% }<p>{{alert}}</p>
        <form action="submit", method="post">
            Name: <input type="text", name="name">
            Year: <select id="year", name="year">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <input type="button", value="Register">
        </form>
    </body>
</html>